@import url("reset.css");
@import url("common.css");
@import url(https://fonts.googleapis.com/css?family=Inter:200,500,600&display=swap);

.wrapper {
    overflow: clip;
    min-height: 100%;
}
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 40;
    background-color: white;

}
.header__container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    }
.header__logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 45px;
    padding-top: 30px;
    padding-bottom: 30px;

}
.header__menu {
    display: inline-block;
    vertical-align: middle;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    position: relative;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
}
.menu__item:not(:last-child){
    margin-right: 35px;
}
.menu__link:hover {
    color: #3056D3;

    
}
.menu__link--parent {
    padding-right: 35px;
	position: relative;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 20px;
}

.menu__link--parent:hover{
    color: #212B36;
background-color: #F4F7FF;
border-radius: 5px;
}

.menu__item:hover .sub-menu{
   display: block;

}
.sub-menu__item:hover .sub-ject{
    display: block;
}



.menu__link--parent::after{
    content: "";
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -3px;
	width: 10px;
	height: 6px;
	background: url("../img/icons/Vector.svg") 0 0 / 100% no-repeat;
}
.header__actions {
    display: inline-block;
    vertical-align: middle;
}
.actions-header {
    padding-left: 100px;
}
.actions-header__item {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.actions-header__item:not(:last-child){
    margin-right: 18px;
}
.actions-header__value {
    position: absolute;
    right: -5px;
    top: -6px;
    border-radius: 50px;
    background-color: #3056D3;
    width: 16px;
    height: 16px;
    line-height: 100%; /* 16/16 */
    text-align: center;
    color: white;
    font-size: 11px;
      
}
.sub-menu {
    
    position: absolute;
    top: 100%;
    left: 0;
    width: 180px;
    padding-top: 10px;
    display: none;
    
}
.sub-content{
    position: absolute;
    left: 180px;
    top: 35px;
    background-color: #FFFFFF;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 30px;
    padding-right: 500px;
    border-radius: 5px ;
    border: 0.5px solid #E7E7E7;
}

.sub-content__heading{
    position: absolute;
    left: 400px;
    top: 70px;
}

.sub-menu__list {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 0.5px solid #E7E7E7;
    padding: 20px 22px;
}
.sub-menu__item {
    margin-bottom: 13px;
}
.sub-menu__item :not(:last-child){
    margin-bottom: 13px;
}
.sub-menu__link {
    color: #637381;
    font-size: 16px;
    line-height: 150%; /* 24/16 */
    font-weight: 500;
    display: block;
}
.sub-content__list{
    color: #637381;
    font-size: 16px;
    line-height: 150%; /* 24/16 */
    font-weight: 500;
}
.sub-menu__link:hover {
    color: #3056D3;
  
}
.sub-content__link:hover {
    color: #3056D3;
  
}


.sub-menu__link--parent:hover {
    color: #212B36;
    background-color: #F4F7FF;
    border-radius: 5px;
    width: 158px;
  }

  .sub-menu__item .sub-menu__link--parent::after{
    content: "";
	position: absolute;
	right: 0px;
	top: 30%;
    transform: rotate(-90deg);
	margin-top: -3px;
	width: 15px;
	height: 6px;
	background: url("../img/icons/Vector.svg") right no-repeat;
   
  } 

  .sub-ject{
    display: none;
    
  }

  .sub-content__tittle{
    margin-bottom: 32px;
}

.sub-content__image{
    position: absolute;
    left: 150px;
    top: -5px;
}
.link2{
    position: absolute;
    left: 69px; 
    top: 158px;
    color: white;
    background: #3056D3;
   
    font-weight: 700;
    border-radius: 2px;
}
.link2:hover{
    color: #3056D3;
    background: white;
    box-shadow: 2px 2px 2px 2px;
}




.block1 {
    position: sticky;
    top: 100px;
    color: darkblue;
    background-color: rgb(51, 175, 35);
    text-align: center;
    font-size: 40px;
    z-index: 1;
}

.block2 {
    position: sticky;
    top: 100px;
    color: darkblue;
    background-color: rgb(175, 175, 35);
    text-align: center;
    font-size: 40px;
    z-index: 2;
   
}
.block3 {
    position: sticky;
    top: 100px;
    color: darkblue;
    background-color: rgb(35, 170, 175);
    text-align: center;
    font-size: 40px;
    z-index: 3;
  
}
