.text {
position: absolute;
margin-left: 312px;
margin-top:50px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 40px;



color: #212529;

}
.text1 {
position: absolute;
width: 816px;
height: 450px;
left: 312px;
top: 90px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 25px;
/* or 179% */


color: #6C757D;
}
.inline {position: absolute;
    width: 1240px;
    height: 400px;
    left: 100px;
    top: 500px;
    
    background: url(.jpg), #C4C4C4;
    border-radius: 5px;
    
}

.text2 {
    position: absolute;
width: 605px;
height: 120px;
left: 312px;
top: 1000px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 40px;
/* or 160% */


color: #212529;

}

.text3 {
    position: absolute;
width: 816px;
height: 325px;
left: 312px;
top: 1100px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 25px;
/* or 179% */


color: #6C757D;

}

.inline2
{
    position: absolute;
    display: inline-block;
width: 605px;
height: 400px;
left: 100px;
top: 1400px;
}

.inline3{
    position: absolute;
    margin-left: 750px;
margin-top: 1400px;

background: url(.jpg), #C4C4C4;
border-radius: 5px;
}

.text4{
    position: absolute;
    width: 816px;
    height: 325px;
    left: 312px;
    top: 1850px;

    font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 25px;

color: #6C757D;
}